body {
  /* background: center / cover no-repeat url('./images/burger.jpg');  */

}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  width:  50%;
}

li {
  list-style: none;
  padding: 2%;
}